@import 'variables.scss';


.navbar {
    .navbar-brand {
        position: relative;
        font-size: $medium-fz-mid;
    }

    // burger-btn
    .navbar-toggler {
        font-size: 2.2rem;
    }

    .nav-link {
        font-size: $text-fz-mid;
    }
}

.header {

    &__text {
        font-size: $medium-fz-mid;

        &__name {
            font-size: $big-fz-mid;
        }

        &__description {
            font-size: $medium-fz-mid;
        }

        &__btn {
            font-size: $text-fz-mid;
        }
    }
}

main {

    .heading {
        font-size: $medium-fz-mid;
    }

    .heading::after {
        left: 25%;
        width: 50%;
    }


    .schedule {
        font-size: $text-fz-mid;
    }

    .between,
    .between-second {

        &__background {
            min-height: 25vh;
        }

        &__text {
            font-size: $text-fz-mid;
        }
    }

    .intentions,
    .announce {
        font-size: $text-fz-mid;
        max-height: 80vh;

        .accordion-button,
        .accordion-item:first-of-type .accordion-button {
            font-size: $text-fz-mid;
        }
    }

    .announce {
        &__title {
            font-size: $medium-fz-mid;
        }
    }

    .history {
        &__box {
            &__text {
                font-size: $text-fz-mid;
            }
        }
    }

    .contact {
        font-size: $text-fz-mid;
    }

    .info {
        font-size: $text-fz-mid;
    }
}

.footer {
    font-size: $text-fz-mid;
}