.header {
    position: relative;

    &__text {
        font-size: 3rem;


        &__name {
            font-size: 4.2rem;
        }

        &__btn {
            border: 1px solid black;
            font-size: 3rem;
        }
    }

}