@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin posA-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin pseudoelement-posA-b0-l0 {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@mixin background {
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

@mixin background-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}

