@import 'variables.scss';

main {

    .between,
    .between-second {
        position: relative;

        &__background {
            min-height: 50vh;
        }
    }

    .intentions,
    .announce {
        max-height: 100vh;
    }

    .contact {
        font-size: $text-fz-mb;
    }


}
