@import 'variables.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px
    scroll-behavior: smooth;
    scroll-padding-top: 9vh;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.navbar {
    position: sticky;
    top: 0;
    min-height: 8vh;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 5;

    &-brand {
        position: relative;
        font-size: $brand-font-size;
    }

    &-brand::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $second-color;
        transform: scaleX(0);
        transition: .3s;
    }

    &-brand:hover::after {
        transform: scaleX(1);
    }

    // burger-btn
    .navbar-toggler {
        padding: .4rem;
        font-size: 2rem;
    }

    .nav-link {
        position: relative;
        padding: 1rem;
        padding-left: 2rem;
        margin: .5rem 0;
        font-size: 1.6rem;
        color: black;
        cursor: pointer;
    }

    .nav-link::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: left;
        transition: .3s;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: black;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transform-origin: right;
        transition: .3s;
    }

    .nav-link:hover::before,
    .nav-link:hover::after {
        transform: scaleX(1);
    }



    .nav-link:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    z-index: 100;
}

.header {
    position: relative;

    &__background {
        position: relative;
        padding: 0;
        min-height: 92vh;
        background-image: url('../img/header/Kosciol3.jpg');
        background-position: center;
        background-size: cover;

        &__shadow {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;

        &__name {
            font-size: $big-fz-mb;
        }

        &__description {
            font-size: $medium-fz-mb;
        }

        &__btn {
            font-size: $text-fz-mb;
            color: $second-color;
            background-color: $first-color;
            border: 1px solid $second-color;
            transition: color .3s, background-color .3s, border .3s;
        }

        &__btn:hover,
        .btn-outline-primary:hover {
            color: $first-color;
            background-color: $second-color;
            border: 1px solid $first-color;
        }
    }
}

main {

    .heading {
        position: relative;
        font-size: $medium-fz-mb;
    }

    .heading::after {
        content: '';
        position: absolute;
        bottom: 20%;
        left: 10%;
        width: 80%;
        height: 1px;
        background-color: $second-color;
    }

    // fist section with sacraments schedule
    .schedule {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $text-fz-mb;
        color: black;

        .shedule__sunday__hours,
        .shedule__monday-wendesday__hours,
        .shedule__saturday__hours,
        .shedule__tuesday-thursday-friday__hours {
            font-weight: bold;
        }

    }

    .between,
    .between-second {
        position: relative;

        &__background {
            position: relative;
            padding: 2rem 0;
            min-height: 40vh;
            background-image: url('../img/between/between.jpg');
            background-position: left;
            background-size: cover;

            &__shadow {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .5);
            }
        }

        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2rem 0rem;
            font-size: $text-fz-mb;
            color: white;
            z-index: 2;
        }
    }

    .between-second {
        margin-top: 5rem;

        &__background {
            background-image: url('../img/between/between-second.jpg');
        }
    }

    .intentions,
    .announce {
        color: black;
        font-size: $text-fz-mb;
        max-height: 80vh;
        overflow: scroll;



        .accordion-item {
            border: none;
        }

        .accordion-button,
        .accordion-item:first-of-type .accordion-button {
            background-color: wheat;
            font-size: $text-fz-mb;
            border: 2px solid black;
            margin: 1rem 0;
            border-radius: 8px;

            &--inside {
                margin-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &__text {
                    background-color: rgb(241, 222, 185);
                    border: 1px solid black;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }

        .accordion-button:not(.collapsed) {
            color: brown;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23964B00'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }


    }

    .announce {

        &__title,
        &__date {
            text-align: center;
            font-weight: bold;
        }

        &__title {
            font-size: $medium-fz-mb;
        }

        &__number {
            padding-right: 5px;
            font-weight: bold;
        }

        .accordion-button {
            overflow: hidden;
        }

        .accordion-body {
            margin-top: -10px;
            border: 1px solid black;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .accordion-item {
            background-color: wheat;
        }

        &__content {
            padding: 1rem .4rem;
            background-color: wheat;
        }
    }

    .history {
        color: black;

        .heading {
            color: white;
        }

        .heading::after {
            background-color: white;
        }

        &__box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-height: 50vh;
            background-image: url('../img/history/KosciolDrewniany1-small.jpg');
            background-position: center;
            background-size: cover;

            &__shadow {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, .6);
            }

            .container {
                z-index: 1;
            }

            &__text {
                color: white;
                font-size: $text-fz-mb;
                z-index: 1;
                letter-spacing: 1px;

                &__link {
                    color: white;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .contact {
        width: 100%;
        color: black;
        font-size: $text-fz-mb;

        &__form {
            display: flex;
            flex-direction: column;


            &__input {
                width: 100%;
                height: 40px;
                padding: 1rem 2rem;
                margin-bottom: 2rem;
                border-radius: 4px;

                &--message {
                    height: 100px;
                    overflow-y: scroll;
                }

                &__agree {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    cursor: pointer;

                    &__checkbox {
                        padding: 1rem;
                        cursor: pointer;
                    }

                    &__text {
                        padding-left: 2rem;
                    }
                }

                &__sendBtn {
                    margin-top: 2rem;
                    height: auto;
                }
            }
        }
    }

    .info {
        color: black;
        font-size: $text-fz-mb;
        text-align: center;

        a {
            color: black;
            text-decoration: none;
            cursor: pointer;
            font-style: italic;
            font-weight: normal;
        }

        &--top {
            font-weight: bold;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    // min-height: 50vh;
    font-size: $text-fz-mb;
    background-color: rgb(116, 110, 110);
    text-align: center;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-style: italic;
        font-weight: normal;
    }

}