@import 'variables.scss';
@import 'mixins.scss';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
}

body {
    font-family: 'Lato', sans-serif;
    color: $text;
    overflow-x: hidden;
    background-color: $base-color;
}

.navbar {
    @include flex-center;
    position: fixed;
    top: 0vh;
    width: 100%;
    min-height: 8vh;
    z-index: 100;
    background-color: #002F59;
    transition: background-color .3s;

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 35px;
        height: 1.8px;
    }

    .hamburger {
        padding: 1rem;
        padding-top: 1.5rem;
    }

    .navbar-brand {
        position: relative;
        font-size: $medium-fz-mb;
        color: $base-color;
    }

    &-brand::after {
        @include pseudoelement-posA-b0-l0;
        height: 2px;
        background-color: $base-color;
        transform: scaleX(0);
        transition: .3s;
    }

    &-brand:hover::after {
        transform: scaleX(1);
    }

    // burger-btn
    .navbar-toggler {
        padding: .4rem;
        font-size: 2rem;
    }

    .nav-link {
        position: relative;
        padding: 1rem;
        padding-left: 2rem;
        margin: .5rem 0;
        font-size: $text-fz-mb;
        color: $base-color;
        cursor: pointer;
        z-index: 5;
    }

    .nav-link::before,
    .nav-link::after {
        @include pseudoelement-posA-b0-l0;
        height: 1px;
        background-color: $base-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: .3s;
    }

    .nav-link::after {
        top: 0;
        transform-origin: right;
    }

    .nav-link:hover::before,
    .nav-link:hover::after {
        transform: scaleX(1);
    }

    .nav-link:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    z-index: 100;
}


.header {
    &__background {
        @include background;
        background-image: url('../img/header/Kosciol3-small.jpg');
        z-index: -2;

        &__shadow {
            @include background-shadow;
            z-index: -1;
        }
    }

    &__text {
        @include posA-center;
        font-size: $medium-fz-mb;

        &__name {
            font-size: $big-fz-mb;
        }

        &__description {
            font-size: $medium-fz-mb;
        }

        &__btn {
            padding: 1rem 3rem;
            font-size: $text-fz-mb;
            color: $dark-text;
            background-color: $second-color;
            border: 1px solid $accent;
            cursor: pointer;
            transition: background-color .3s, border .3s;
            z-index: 100;
        }

        &__btn:hover,
        .btn-outline-primary:hover {
            color: $dark-text;
            background-color: $accent;
            border: 1px solid $accent;
        }
    }
}

main {

    .heading {
        position: relative;
        font-size: $medium-fz-mb;
    }

    .heading::after {
        content: '';
        position: absolute;
        bottom: 20%;
        left: 10%;
        width: 80%;
        height: 1px;
        background-color: $second-color;
    }

    // fist section with sacraments schedule
    .schedule {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $text-fz-mb;
        background-color: $base-color;
        color: $dark-text;
        border-radius: 4px;
        z-index: 2;
    }

    .between,
    .between-second {
        position: relative;
        overflow-x: hidden;

        &__background {
            @include background;
            padding: 2rem 0;
            min-height: 35vh;
            background-image: url('../img/between/between-small.jpg');

            &__shadow {
                @include background-shadow;
            }
        }

        &__text {
            @include posA-center;
            color: $text;
            padding: 2rem 0rem;
            font-size: $text-fz-mb;
            color: white;
            z-index: 2;
        }
    }

    .between-second {
        margin-top: 5rem;

        &__background {
            background-image: url('../img/between-second/between-second-style.jpg');
        }
    }

    .intentions,
    .announce {
        color: black;
        font-size: $text-fz-mb;
        max-height: 80vh;
        overflow: scroll;
        background-color: $base-color;

        .accordion-item {
            background-color: $base-color;
            border: none;
        }

        .accordion-body {
            background-color: $base-color
        }

        .accordion-button,
        .accordion-item:first-of-type .accordion-button {
            background-color: $second-color;
            font-size: $text-fz-mb;
            border: 2px solid $dark-text;
            margin: 1rem 0;
            border-radius: 8px;

            &--inside {
                background-color: $second-color;
                margin-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &__text {
                    color: $dark-text;
                    background-color: $second-color;
                    border: 1px solid $dark-text;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }

        .accordion-button:hover,
        .accordion-item:first-of-type:hover .accordion-button:hover {
            background-color: $accent;
        }

        .accordion-button:not(.collapsed) {
            color: $accordion-active;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23964B00'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }
    }

    .announce {

        &__title,
        &__date {
            text-align: center;
            font-weight: bold;
        }


        &__title {
            font-size: $medium-fz-mb;
        }

        &__number {
            padding-right: 5px;
            font-weight: bold;
        }

        .accordion-button {
            overflow: hidden;
        }

        .accordion-body {
            margin-top: -10px;
            background-color: $second-color;
            border: 1px solid $dark-text;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .accordion-item {
            background-color: $second-color;
        }

        &__content {
            padding: 1rem .4rem;
            background-color: $second-color;
        }
    }

    .history {
        display: flex;
        flex-direction: column;
        color: $dark-text;

        .heading {
            color: $base-color;
            z-index: 5;
            left: 50%;
            transform: translateX(-50%);
        }

        .heading::after {
            background-color: $base-color
        }

        &__box {
            display: flex;
            justify-content: center;
            align-items: center;
            @include background;
            min-height: auto;
            background-image: url('../img/history/KosciolDrewniany1-small.jpg');

            &__shadow {
                @include background-shadow;
            }

            .container {
                z-index: 1;
            }

            &__text {
                color: $base-color;
                font-size: $text-fz-mb;
                z-index: 1;
                letter-spacing: 1px;

                &__link {
                    color: $base-color;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .contact {
        width: 100%;
        color: $dark-text;
        font-size: $text-fz-mb;
        background-color: $base-color;

        &__form {
            display: flex;
            flex-direction: column;

            &__input {
                width: 100%;
                height: 40px;
                padding: 1rem 2rem;
                margin-bottom: 2rem;
                background-color: $base-color;
                border: 2px solid $second-color;
                border-radius: 4px;

                &--message {
                    height: 100px;
                    overflow-y: scroll;
                }

                &__agree {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    cursor: pointer;

                    &__checkbox {
                        accent-color: $second-color;
                        padding: 1rem;
                        cursor: pointer;
                    }

                    &__text {
                        padding-left: 2rem;
                    }
                }

                &__sendBtn {
                    height: auto;
                    margin-top: 2rem;
                    background-color: $second-color;
                    border: 1px solid $dark-text;
                    cursor: pointer;
                }

                &__sendBtn:hover {
                    background-color: $accent;
                }
            }
        }
    }

    .info {
        color: $dark-text;
        background-color: $base-color;
        font-size: $text-fz-mb;
        text-align: center;

        a {
            color: $dark-text;
            text-decoration: none;
            cursor: pointer;
            font-style: italic;
            font-weight: normal;

            i {
                color: #4267B2; //facebook color

            }
        }

        &--top {
            font-weight: bold;
        }
    }
}

.footer {
    @include flex-center;
    flex-direction: row;
    padding: 2rem 0;
    font-size: $text-fz-mb;
    background-color: $dark-text;
    text-align: center;

    a {
        position: relative;
        padding-bottom: 1rem;
        color: $base-color;
        text-decoration: none;
        cursor: pointer;
        font-style: italic;
        font-weight: normal;
    }
}