*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.navbar {
    position: sticky;
    top: 0;
    font-size: 1.6rem;
    &-brand{
        font-size: 2rem;
    }
    z-index: 1;
}



.header {
    position: relative;
    font-size: 2rem;

    &__background {
        position: relative;
        padding: 0;
        min-height: 100vh;
        background-image: url('../img/church.jpg');
        background-position: left;
        background-size: cover;

        &__shadow {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;


        &__name {
            font-size: 2.6rem;
        }

        &__btn {
            color: white;
            border: 1px solid black;
            font-size: 2rem;


        }
    }






}