// colors
$first-color: white;
$second-color: black;


// font-sizes
// mobile font sizes
$big-fz-mb: 2.6rem;
$medium-fz-mb: 2rem;
$text-fz-mb: 1.6rem;
// medium/tablet font sizes
$big-fz-mid: 3rem;
$medium-fz-mid: 2.4rem;
$text-fz-mid: 1.6rem;
// large font sizes
$big-fz-lg: 3.3rem;
$medium-fz-lg: 2.2rem;
$text-fz-lg: 1.7rem;

