// colors
$first-color: white;
$second-color: black;


// font-sizes
// mobile font sizes
$brand-font-size: 2.2rem;
$big-fz-mb: 2.6rem;
$medium-fz-mb: 2rem;
$text-fz-mb: 1.6rem;
// medium/tablet font sizes
$brand-font-size-mid: 2.6rem;
$big-fz-mid: 3rem;
$medium-fz-mid: 2.4rem;
$text-fz-mid: 2rem;

